{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<div class="row">
  <div class="col">
    <img class="img-thumbnail mb-1" align='center' src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}" width="250">
    <h1 class="font-weight-bold">{{current_user.username}}</h1>
    <p class='text-muted'>{{ current_user.email }}</p>
  </div>
  <div class="col container">
  <h1 class="font-weight-bold">Account Settings</h1>
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
  {% endif %}
  {% endwith %}
    <form  method="POST" action="" enctype="multipart/form-data">
        {{form.hidden_tag()}}

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                {%- for msg in errors %}
                    {{ msg }}
                {% endfor -%}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
        {% endwith %}  

    <div class="form-group">
        {{form.username.label(class='form-group')}} 
        {{form.username(class='form-control')}}
      </div>
    
      <div class="form-group">
      {{form.email.label(class='form-group')}}
      {{form.email(class='form-control')}}
      </div>

      <div class="form-group">
      {{form.avatar.label(class='form-group')}}
      {{form.avatar(class='form-control')}}
      </div>

      <div class="form-group">
       {{form.submit(class='btn btn-warning')}}
      </div>

    </form>
  </div>
  </div>
</div>
<div>
  <h1 class="font-weight-bold">Posts</h1>
{% for post in posts.items  %}
<div class="card bg-light mb-3 p-4">
  <h2 class="text-dark"> <a class="text-dark" href="{{url_for('blog_post.blog_post',blog_post_id=post.id)}}">{{post.title}}</a> </h2>
  <a class="text-muted" href="{{url_for('users.user_posts',username=post.author.username)}}"><span class="text-muted">By </span><span class="text-warning">{{post.author.username}}</span> <img class=" card-image" align='center' src="{{url_for('static',filename='profile_pics/'+post.author.profile_image)}}" width="30"></a>
  <p class='text-muted'>Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
   <br>
   <p>{{post.text}}</p>
   <br>
  <a href="{{ url_for('blog_post.blog_post', blog_post_id=post.id) }}" class="btn btn-secondary">Make Changes <i class="far fa-edit"></i></a>
</div>
{% endfor %}
</div>
</div>

<nav aria-label='Page Navigation example'>
<ul class="pagination justify-content-center">
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
      {% if posts.page == page_num %}
      <li class='page-item disabled'>
        <a class="page-link" href="{{url_for('users.account',username=user.username,page=page_num)}}">{{ page_num}}</a>
      </li>
      {% else %}
      <li class='page-item'>
        <a class="page-link text-dark" href="{{url_for('users.account',username=user.username,page=page_num)}}">{{ page_num}}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>
{% endblock %}
