<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

    <title>impact</title>
</head>
<body style="background-color: #fdc500;">
    <div class="container" style="background-color: #fdc500;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fdc500;">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold logo-text" href="/" style="color: #000000;" >Impact.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
                    <li class="nav-item p-1" aria-current="true">
                        <a class="nav-link" aria-current="page" href="{{url_for('core.index')}}">Home</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link" href="{{url_for('core.about')}}">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item p-1">
                        <a class="nav-link" href="{{ url_for('users.account')}}" >Account</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link" href="#" >Create Post</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link" href="{{ url_for('users.logout')}}" >Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item p-1">
                        <a class="nav-link" href="{{ url_for('users.register')}}" >Register</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link" href="{{ url_for('users.login')}}" >Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock%}
    </div>
</body>
<script>
    let pathname = window.location.pathname
    console.log(pathname)
        pages = ['/', '/about', '/account', '/login'];

    $('.nav-item').each(function (i) {
        if (pathname === (pages[i])) this.classList.add('active');
        else if (this.className.includes('active')) this.classList.remove('active');
    });
</script>
</html>