{% extends "base.html" %} {% block content %}
<div class="container post-page-wrapper">
  <h1 class="post-title" data-aos="fade-in" data-aos-duration="500">
    {{ post.title }}
  </h1>
  <div class="post-details-div" data-aos="fade-in" data-aos-duration="700">
    <span class="post-details">posted by</span>
    <img
      src="{{url_for('static', filename='profile_pics/'+ post.author.profile_image)}}"
      alt=""
      class="author-profile-image"
    />
    <a href="">
      <span class="post-details-highlight">{{post.author.username}}</span>
    </a>
    <span class="post-details">on</span>
    <span class="post-details-highlight">
      {{ post.date.strftime('%B %d, %Y') }}</span
    >
  </div>
  <div class="post-image-div" data-aos="fade-in" data-aos-duration="500">
    <img
      src="{{url_for('static',filename='post_pics/'+post.post_image)}}"
      alt=""
      class="post-image"
    />
  </div>
  <p class="post-text">{{post.text}}</p>
  {% if post.author == current_user %}
  <div>
    <a
      class="btn btn-secondary"
      href="{{ url_for('blog_post.update', blog_post_id=post.id) }}"
      >Update</a
    >
    <button
      type="button"
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#del_modal"
    >
      Delete
    </button>
  </div>
  {% endif %}
</div>

<!-- Modal for Pop Up-->
<div class="modal" tabindex="-1" role="dialog" id="del_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Post</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>

        <form
          action="{{ url_for('blog_post.delete_post', blog_post_id=post.id) }}"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
