{% extends 'base.html' %}
{% block content %}
<div class="jumbotron bg-white m-0">
    <div class="row align-self-center">
        <div class="col-md-6 col-sm-12 align-self-center">
            <div class="row jumbotron pb-6 pt-6 form-div">
                <div class="col-sm-12">
                    <p class="text-muted">REGISTER TODAY</p>
                    <h3 class="text-dark">
                        Fill out the form below to get started
                    </h3>
                    <form method="POST" class="">
                        {{form.hidden_tag()}}
                        <div>
                            {{form.email.label}}
                            {{form.email(class='')}}
                        </div>
                        <div>
                            {{form.username.label}}
                            {{form.username}}<br>
                        </div>
                        <div>
                            {{form.password.label}}
                            {{form.password}}<br>
                        </div>
                        <div>
                            {{form.confirm_password.label}}
                            {{form.confirm_password}}<br>
                        </div>
                        {{form.submit()}}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-self-center">
            <img class="" align='center' src="{{url_for('static',filename='images/login-hand.png')}}" width="250">
        </div>
    </div>
</div>
{% endblock %}