{% extends "base.html" %}
{% block content %}
<div class="">
    <div align='center'>
    <h1 class="mb-3 mt-5 font-weight-bold">{{user.username}}'s profile page</h1>
      <img class="img-thumbnail"src="{{url_for('static',filename='profile_pics/'+user.profile_image)}}" width="300">
    </div>
</div>


<div class="">
<h1 class="font-weight-bold mt-5">Most Recent Post</h1>
{% for post in posts.items  %}
<div class="mt-5 mb-3 border rounded p-4">
  <h2 class="text-dark"> <a class="text-dark" href="{{url_for('blog_post.blog_post',blog_post_id=post.id)}}">{{post.title}}</a> </h2>
  By <a href="{{url_for('users.user_posts',username=post.author.username)}}" class="text-warning">{{post.author.username}}</a>
  <p class='text-muted'>Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
   <br>
   <p>{{post.text}}</p>
   <br>
  </div>
{% endfor %}
</div>

<nav aria-label='Page Navigation example'>
<ul class="pagination justify-content-center">
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
      {% if posts.page == page_num %}
      <li class='page-item disabled'>
        <a class="page-link" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{ page_num}}</a>
      </li>
      {% else %}
      <li class='page-item'>
        <a class="page-link" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{ page_num}}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>




{% endblock %}
