/* Font Import */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  min-height: 100vh;
}

.main-content {
  min-height: 81%;
}

/* navbar */

nav {
  padding: 1rem 3rem !important;
  background-color: #ffff;
}

.navbar-logo-image {
  height: 1.5rem;
  width: auto;
  position: relative;
  bottom: 3px;
}

.nav-item {
  padding-left: 1rem;
}

.nav-link {
  font-size: 0.8rem !important;
  font-weight: bold !important;
  color: #8b949e !important;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #49494d !important;
}

.nav-icon {
  height: 1rem !important;
  width: 1rem !important;
  stroke: #fdc500;
  margin-left: 0.2rem;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fdc500 !important;
}

.nav-login-button:hover {
  color: #fdc500 !important;
}

.navbar-light .navbar-nav .active .nav-link > .nav-icon {
  stroke: #fdc500;
}

.nav-login-button {
  background-color: #fff7e3 !important;
  color: #fdc500 !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border: 1px solid #fdc500;
}

.logo-text {
  color: #49494d !important;
  font-weight: 800 !important;
  font-size: 1.4rem !important;
}

.nav-brand-logo {
  stroke: #fdc500;
}

/* homepage */

.home-header {
  padding: 6rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.home-header-title {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #49494d;
}

.home-header-subtitle {
  color: #8b949e;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
}
/* account page */

/* login form */

.form-icon {
  font-size: 50px;
  color: #afbbcc !important;
}

.login-logo {
  font-size: 25px !important;
  font-weight: 800 !important;
  color: #49494d !important;
  font-weight: 700 !important;
  position: relative;
  bottom: 1rem;
}

.form-div {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

textarea {
  height: 250px !important;
  resize: none;
}

.card-image {
  border-radius: 100%;
}

/* login and register styles */

.login-container {
  padding: 3rem !important;
  width: 500px;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.login-subtitle {
  font-size: 0.7rem !important;
  font-weight: bold !important;
  color: #8b949e !important;
}

.login-logo {
  font-size: 3rem !important;
  margin: 0rem !important;
}

.login-logo span {
  color: #fdc500;
}

.login-text {
  font-size: 0.7rem !important;
  color: #8b949e !important;
}

.login-form-inputs {
  padding: 1rem 0rem;
}

.login-label {
  font-size: 0.8rem !important;
  color: #49494d !important;
  font-weight: bold;
}

.login-input {
  color: #49494d !important;
  font-size: 0.8rem !important;
}

.login-submit {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #fdc500 !important;
  border-radius: 0rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* footer */

.footer-link {
  font-weight: bold;
  font-size: 0.8rem;
  color: #49494d;
}

.footer-icon {
  height: 0.8rem !important;
  width: 0.8rem !important;
  margin-right: 0.2rem;
}

.footer-legal-text {
  color: #8b949e !important;
  font-size: 0.7rem !important;
}

.footer-link:hover {
  color: #8b949e !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 863px) {
  .home-header-title {
    font-size: 3rem;
  }

  .home-header {
    padding: 4rem 2rem;
  }

  .home-header-subtitle {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 750px) {
  .home-header-title {
    font-size: 2rem;
  }
  .nav-item {
    padding-left: 0rem !important;
  }

  nav {
    padding: 1rem 1rem !important;
  }

  .home-header {
    padding: 3rem 2rem;
  }

  .nav-login-button {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

@media only screen and (max-width: 560px) {
  .home-header-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .login-container {
    width: 100%;
    padding: 0rem !important;
    margin: 0rem !important;
    margin-top: 3rem !important;
    padding: 2rem !important;
  }

  .footer-link {
    font-size: 0.7rem;
  }

  .footer-icon {
    height: 0.7rem !important;
    width: 0.7rem !important;
    margin-right: 0.2rem;
  }

  .main-content {
    min-height: 80%;
  }
}

@media only screen and (max-width: 460px) {
  .home-header {
    padding: 2rem 1rem;
  }
}
