/* Font Import */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  height: 100vh;
}

.main-content {
  min-height: 81%;
}

/* navbar */

footer {
  padding-bottom: 1rem;
}

nav {
  padding: 1rem 6rem !important;
  background-color: #ffff;
}

.navbar-logo-image {
  height: 1.5rem;
  width: auto;
  position: relative;
  bottom: 3px;
}

.nav-item {
  padding-left: 1rem;
}

.navbar-logo-highlight {
  color: #fdc500;
}

.nav-link {
  font-size: 0.8rem !important;
  font-weight: bold !important;
  color: #3c3c3f !important;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #fdc500 !important;
}

.nav-icon {
  height: 1rem !important;
  width: 1rem !important;
  stroke: #ffffff;
  margin-left: 0.2rem;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fdc500 !important;
}

.nav-login-button:hover {
  color: #fff !important;
}

.navbar-light .navbar-nav .active .nav-link > .nav-icon {
  stroke: #ffffff !important;
}

.navbar-light .navbar-nav .active > .nav-login-button {
  color: #ffffff !important;
}

.nav-login-button {
  background-color: #fdc500 !important;
  color: #ffffff !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 0.2rem;
}

.nav-login-button:hover {
  background-color: #e0b61c !important;
}

.logo-text {
  color: #3c3c3f !important;
  font-weight: 800 !important;
  font-size: 1.4rem !important;
}

.nav-brand-logo {
  stroke: #fdc500;
}

/* homepage */

.home-header-highlight {
  color: #f673a2;
  font-weight: 0.8rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2rem;
}

.home-header {
  padding: 7rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.home-header-title {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #3c3c3f;
}

.home-header-subtitle {
  color: #49494d;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
}
/* account page */

/* login form */

.form-icon {
  font-size: 50px;
  color: #afbbcc !important;
}

.login-logo {
  font-size: 25px !important;
  font-weight: 800 !important;
  color: #49494d !important;
  font-weight: 700 !important;
  position: relative;
  bottom: 1rem;
}

.form-div {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

textarea {
  height: 250px !important;
  resize: none;
}

.card-image {
  border-radius: 100%;
}

/* login and register styles */

.login-container {
  padding: 3rem !important;
  width: 500px;
  min-height: 500px;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.login-subtitle {
  font-size: 0.7rem !important;
  font-weight: bold !important;
  color: #8b949e !important;
}

.login-logo {
  font-size: 3rem !important;
  margin: 0rem !important;
}

.login-logo span {
  color: #fdc500;
}

.login-text {
  font-size: 0.7rem !important;
  color: #8b949e !important;
}

.login-form-inputs {
  padding: 1rem 0rem;
}

.login-label {
  font-size: 0.8rem !important;
  color: #49494d !important;
  font-weight: bold;
}

.login-input {
  color: #49494d !important;
  font-size: 0.8rem !important;
}

.login-submit {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #fdc500 !important;
  border-radius: 0.2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.login-submit:hover {
  background-color: #e0b61c !important;
}

/* footer */

.footer-link {
  font-weight: bold;
  font-size: 0.8rem;
  color: #49494d;
}

.footer-icon {
  height: 0.8rem !important;
  width: 0.8rem !important;
  margin-right: 0.1rem;
  position: relative;
  top: 1.5px;
}

.footer-legal-text {
  color: #8b949e !important;
  font-size: 0.7rem !important;
}

.footer-link:hover {
  color: #8b949e !important;
  text-decoration: none !important;
}

/* post page */

.post-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 3rem 0rem;
}

.post-image-div {
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  width: 100%;
  padding: 0rem 3rem;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.post-title {
  font-weight: 800;
  color: #49494d;
}

.post-details-div {
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.post-details {
  color: #49494d;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  padding: 3px;
}

.post-details-highlight {
  color: #3c3c3f;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  padding: 3px;
  font-weight: bold;
}

.author-profile-image {
  height: 30px;
  width: auto;
  padding: 3px;
  border-radius: 50%;
}

.post-text {
  align-self: flex-start;
  padding: 0rem 3rem;
  font-size: 0.8rem;
  color: #49494d;
  line-height: 2;
  font-weight: 500;
}

/* home layout */

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
  padding: 0rem 6rem;
  overflow: hidden;
  padding-top: 2rem !important;
  padding-bottom: 2rem;
}

.latest-post-subtitle {
  font-weight: bold;
  color: #fdc500;
}

.latest-post-subtitle i {
  margin-right: 5px;
}

.latest-post-title {
  font-weight: 800;
  color: #3c3c3f;
}

.latest-post-image-div {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.latest-post-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.latest-post-left {
  overflow: hidden;
  height: 100%;
}

.latest-post-text-div {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.latest-post-text {
  font-size: 0.8rem;
  color: #49494d;
  line-height: 2;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 3rem;
}

.latest-post-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0rem;
  height: 100%;
}

.latest-post-button {
  background-color: #fdc500 !important;
  color: #ffffff !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.latest-post-button:hover {
  text-decoration: none;
  background-color: #e0b61c !important;
}

.latest-post-link:hover {
  text-decoration: none;
  color: #5a5a61 !important;
}

.latest-post-date {
  font-weight: 400;
  color: #5a5a61 !important;
  font-size: 0.7rem;
}

.latest-post-author {
  color: #49494d !important;
}

.latest-post-title:hover {
  text-decoration: none;
  color: #5a5a61 !important;
}

/* all post grid */

.posts-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
  padding: 0rem 0rem;
  overflow: hidden;
  padding-top: 2rem !important;
  padding-bottom: 0rem;
}

.post-card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(27 31 35 / 15%);
  border-radius: 10px;
  overflow: hidden;
}

.posts-div {
  padding: 3rem 6rem;
}

.post-card-image {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: auto;
  width: 140%;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
    rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  min-height: 225px;
}

a.post-card-title {
  font-size: 1.4rem !important;
  color: #3c3c3f !important;
  font-weight: 800 !important;
  padding-bottom: 0.5rem !important;
  display: inline-block;
}

a.post-card-title:hover {
  text-decoration: none !important;
}

.posts-card-details {
  margin-bottom: 1rem !important;
  align-self: flex-start !important;
  display: flex;
  padding: 0rem;
}

.post-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 210px;
}

.post-card-image-div {
  padding-bottom: 0rem;
  overflow: hidden;
  height: 225px;
  border-bottom: 1px solid rgb(27 31 35 / 15%);
}

.post-card-title {
  padding-bottom: 2rem !important;
  color: #49494d !important;
}

.post-card-text {
  color: #8b949e;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-card-text-div {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* features section */

.features-div {
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.feature-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row !important;
  width: 800px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feature-icon {
  font-size: 1.8rem;
  color: #49494d;
  margin-bottom: 1rem;
  display: inline-block;
}

.feature-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.feature-text {
  font-size: 0.7rem;
  color: #5a5a61;
}

@media only screen and (max-width: 1550px) {
  .posts-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 1250px) {
  nav {
    padding: 1rem 3rem !important;
  }
  .home-grid {
    grid-template-columns: 40% 60%;
    padding: 0rem 3rem;
  }

  .latest-post-image {
    width: auto;
    height: 100%;
  }

  .latest-post-title {
    font-weight: 800;
    color: #3c3c3f;
    font-size: 1.8rem;
  }

  .latest-post-text {
    font-size: 0.7rem;
  }

  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
  }

  .posts-div {
    padding: 3rem 3rem;
  }

  .post-card-image {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
    width: 130%;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
      rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  }
}

@media only screen and (max-width: 863px) {
  .home-header-title {
    font-size: 3rem;
  }

  .home-header {
    padding: 4rem 2rem;
  }

  .home-header-subtitle {
    font-size: 0.7rem;
  }

  .latest-post-title {
    font-size: 1.4rem;
  }

  .post-title {
    font-size: 1.4rem !important;
  }

  .post-details-div {
    padding-bottom: 1rem;
  }

  .post-text {
    margin-top: 1rem !important;
  }

  .post-details {
    font-size: 0.7rem !important;
  }

  .post-details-highlight {
    font-size: 0.7rem !important;
  }

  .post-text {
    font-size: 0.7rem;
  }

  .latest-post-subtitle {
    font-size: 0.7rem;
  }

  .feature-icons {
    width: 100%;
    flex-wrap: wrap;
  }

  .feature-icons div {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .feature-icon {
    font-size: 1.4rem;
    color: #49494d;
    display: inline-block;
  }

  .features-div {
    padding: 3rem 1rem;
  }

  .feature-text {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 750px) {
  .home-header-title {
    font-size: 2rem;
  }
  .nav-item {
    padding-left: 0rem !important;
  }

  nav {
    padding: 1rem 1rem !important;
  }

  .home-header {
    padding: 3rem 2rem;
  }

  .nav-login-button {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .home-grid {
    grid-template-columns: 100%;
    padding: 0rem 0rem;
    grid-auto-rows: 0fr;
    grid-gap: 1rem;
  }

  .posts-grid {
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
  }

  .posts-div {
    padding: 3rem 1rem;
  }

  .latest-post-image {
    width: 100%;
    height: auto;
  }

  .latest-post-image-div {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .latest-post-left {
    height: 300px;
  }
}

@media only screen and (max-width: 560px) {
  a.post-card-title {
    font-size: 1.2rem !important;
  }
  .home-header-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .home-header {
    margin-bottom: 1rem;
  }

  .login-container {
    width: 100%;
    padding: 0rem !important;
    margin: 0rem !important;
    margin-top: 3rem !important;
    padding: 2rem !important;
  }

  .footer-link {
    font-size: 0.7rem;
  }

  .footer-icon {
    height: 0.7rem !important;
    width: 0.7rem !important;
  }

  .main-content {
    min-height: 80%;
  }

  .post-text {
    padding: 0rem 0rem;
  }

  .post-image-div {
    padding: 0rem 0rem;
  }

  .post-page-wrapper {
    padding: 2rem 0rem;
  }

  .post-title {
    font-size: 2rem;
  }

  .post-details-div {
    margin-bottom: 1rem;
  }

  .post-image-div {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 460px) {
  .home-header {
    padding: 2rem 1rem;
  }

  .home-grid {
    padding-top: 0rem !important;
  }

  .latest-post-image {
    height: 100%;
    width: auto;
  }

  .latest-post-right {
    padding: 1rem 0rem;
  }

  .post-details-div {
    padding-bottom: 0rem;
  }

  .post-text {
    margin-top: 0rem !important;
  }

  a.post-card-title {
    font-size: 1.2rem !important;
  }
}
